.resumePage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 40px;
}

@media (max-width: 767px) {
    .resumePage {
        grid-template-columns: 1fr;
    }
}