.selector {
    max-width: 100%;
    border: 2px groove #ccc;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    background: linear-gradient(145deg, #f9f9f9, #eaeaea);

}
