body {
  width: 1200px;
  min-height: 100vh;
  margin: 0 ; 
  max-width: 100%;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

@media (max-width: 767px) {
  body {
    width: 100%;
    margin: 0;
  }
}